<h1>Free appointments</h1>
<div class="table">
  <mat-table #table >
    <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef>Start</mat-header-cell>
      <mat-cell *matCellDef="let item">imena</mat-cell>
    </ng-container>
    <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef>End</mat-header-cell>
        <mat-cell *matCellDef="let item">prezimena</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
