<form>
    <h1 class="title">Informations about center</h1>
    <mat-form-field appearance="fill" class="main-field">
        <mat-label>Name of center</mat-label>
        <input matInput [disabled]="isDisabled">
    </mat-form-field>
    <div class="address">
        <mat-label class="field">Address</mat-label>
        <br/>
        <mat-form-field appearance="fill" class="field">
            <mat-label>Street</mat-label>
            <input matInput [disabled]="isDisabled">
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
            <mat-label>Number</mat-label>
            <input matInput [disabled]="isDisabled">
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
            <mat-label>City</mat-label>
            <input matInput [disabled]="isDisabled">
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
            <mat-label>Zip code</mat-label>
            <input matInput [disabled]="isDisabled">
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
            <mat-label>Longitude</mat-label>
            <input matInput [disabled]="isDisabled">
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
            <mat-label>Latitude</mat-label>
            <input matInput [disabled]="isDisabled">
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="main-field">
        <mat-label>Opis</mat-label>
        <input matInput [disabled]="isDisabled">
    </mat-form-field>
</form>
<div class="example-button-row">
    <button mat-raised-button (click)="editClick()">Edit</button>
    <button mat-raised-button (click)="okClick()">Save</button>
</div>
