.info{
  padding-top: -10%;
}
form{
    width: 500px;
    margin-left: 20%;
}

.field{
    margin-left: 5px;
    margin-right: 5px;
}
.main-field{
    margin-left: 5px;
    margin-right: 5px;
    width: 82%;
}

.title{
   padding-left: 20%; 
}

section {
    display: table;
  }
  
  .example-label {
    //display: table-cell;
    font-size: 5px;
    //margin-left: 8px;
    //min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    text-align: right;
    padding-right: 14%;
  }
  
  .example-button-row .mat-button-base {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  /*.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }*/
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  mat-label{
    color: black;
  }
  .input{
    color: black;
  }

  .block-admins{
    float: left;
    width: 600px;
  }

  .error{
    color: red;
  }

  .ok{
    color: green;
  }