<mat-stepper [linear]="true">
  <mat-step [formGroup]="startTimeForm">
    <form [formGroup]="startTimeForm">
      <mat-form-field appearance="fill">
        <mat-label>Start date</mat-label>
        <input formControlName="startTime" matInput type="datetime-local"/>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="recommendBloodBanks()">
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <mat-table #table [dataSource]="bloodBanks">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.address.city }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="averageGrade">
        <mat-header-cell *matHeaderCellDef>Average grade</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.averageGrade }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-step>
</mat-stepper>
  