<div class="wrapper">
  <input #file type="file" (change)="onSelects(file.files)" [multiple]="'multiple'" [accept]="'.jpg, .png, .gif, .jpeg'" class="btn btn-success my-2"/>
  <form class="form">
    <mat-form-field class="search" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Name,Surname" (keydown.enter)="search($event)">
    </mat-form-field>
  </form>
  <div class="users-wrapper">
    <app-user *ngFor="let user of users" [user]="user"></app-user>
  </div>
  <mat-paginator
              [pageSize]="4"
              [length]="userCount"
              aria-label="Select page">
  </mat-paginator>
</div>
