<form>
    <h1 class="title">Personal informations</h1>
    <mat-form-field appearance="fill" class="address-field">
        <mat-label>Name</mat-label>
        <input class="input" required matInput [disabled]="isDisabled" value="{{this.user.firstName}}" #firstName>
    </mat-form-field>
    <div class="error" *ngIf="!okName">
        Name must start with uppercase
    </div>
    <mat-form-field appearance="fill" class="address-field">
        <mat-label>Surname</mat-label>
        <input class="input" required matInput [disabled]="isDisabled" value="{{this.user.lastName}}" #lastName>
    </mat-form-field>
    <div class="error" *ngIf="!okSurname">
        Surname must start with uppercase
    </div>
    <div>
        <label>
            <input type="radio"
                   value="1"
                   [checked]="gender === 0"
                   id="point1"
                   (change)="onGenderChange(0)"
                   name="ProfitCode"><small>FEMALE</small>
        </label>
        <label>
            <input type="radio"
                   value="1"
                   [checked]="gender === 1"
                   id="point1"
                   (change)="onGenderChange(1)"
                   name="ProfitCode"><small>MALE</small>
        </label>
    </div>
    <mat-form-field appearance="fill" class="main-field">
        <mat-label>JMBG</mat-label>
        <input class="input" required matInput [disabled]="isDisabled" value="{{this.user.jmbg}}" #jmbg>
    </mat-form-field>
    <div class="error" *ngIf="!okJMBG">
        You must enter correct jmbg format
    </div>
    <mat-form-field appearance="fill" class="address-field">
        <mat-label>Workplace name</mat-label>
        <input class="input" required matInput [disabled]="isDisabled" value="{{this.user.workplaceName}}" #workplaceName>
    </mat-form-field>
    <mat-form-field appearance="fill" class="address-field">
        <mat-label>Job title</mat-label>
        <input class="input" required matInput [disabled]="isDisabled" value="{{this.user.jobTitle}}" #jobTitle>
    </mat-form-field>
    <mat-form-field appearance="fill" class="main-field">
        <mat-label>Phone number</mat-label>
        <input class="input" required matInput [disabled]="isDisabled" value="{{this.user.phoneNumber}}" #phoneNumber>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="main-field">
        <mat-label>email</mat-label>
        <input class="input" required matInput [disabled]="true" value="{{this.user.email}}" #email>
    </mat-form-field>
    <div class="error" *ngIf="!okEmail">
        You must enter valid email
    </div>
    <div class="address">
        <mat-form-field appearance="fill" class="address-field">
            <mat-label>Street</mat-label>
            <input class="input" matInput [disabled]="isDisabled" value="{{this.user.address.street}}" #street>
        </mat-form-field>
        <div class="error" *ngIf="!okStreet">
            Street must start with uppercase
        </div>
        <mat-form-field appearance="fill" class="address-field">
            <mat-label>Number</mat-label>
            <input class="input" matInput [disabled]="isDisabled" value="{{this.user.address.number}}" #number>
        </mat-form-field>
        <div class="error" *ngIf="!okNumber">
            Must be number
        </div>
        <mat-form-field appearance="fill" class="address-field">
            <mat-label>City</mat-label>
            <input class="input" matInput [disabled]="isDisabled" value="{{this.user.address.city}}" #city>
        </mat-form-field>
        <div class="error" *ngIf="!okCity">
            City must start with uppercase
        </div>
        <mat-form-field appearance="fill" class="address-field">
            <mat-label>Zip code</mat-label>
            <input class="input" matInput [disabled]="isDisabled" value="{{this.user.address.zipcode}}" #zipcode>
        </mat-form-field>
        <div class="error" *ngIf="!okZipcode">
            zipcode must be number at least 5 characters long
        </div>
        <mat-form-field appearance="fill" class="address-field">
            <mat-label>Country</mat-label>
            <input class="input" matInput [disabled]="isDisabled" value="{{this.user.address.country}}" #country>
        </mat-form-field>
        <div class="error" *ngIf="!okCountry">
            Country must start with uppercase
        </div>
    </div>
    <mat-form-field appearance="fill" class="main-field">
        <mat-label>Password</mat-label>
        <input class="input" required matInput [disabled]="isDisabled" value="{{this.user.password}}" #password>
    </mat-form-field>
    <div class="error" *ngIf="!okPassword">
        Password must be 6 characters long
    </div>
    <mat-form-field appearance="fill" class="main-field">
        <mat-label>Blood type</mat-label>
        <mat-select floatLabel="never" value="{{user.bloodType}}" [disabled]="isDisabled" #bloodType>
          <mat-option value="A_POSITIVE">A_POSITIVE</mat-option>
          <mat-option value="A_NEGATIVE">A_NEGATIVE</mat-option>
          <mat-option value="B_POSITIVE">B_POSITIVE</mat-option>
          <mat-option value="B_NEGATIVE">B_NEGATIVE</mat-option>
          <mat-option value="AB_POSITIVE">AB_POSITIVE</mat-option>
          <mat-option value="AB_NEGATIVE">AB_NEGATIVE</mat-option>
          <mat-option value="0_POSITIVE">0_POSITIVE</mat-option>
          <mat-option value="0_NEGATIVE">0_NEGATIVE</mat-option>
          <mat-option value="HH_POSITIVE">HH_POSITIVE</mat-option>
          <mat-option value="HH_NEGATIVE">HH_NEGATIVE</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="error" *ngIf="!okBloodType">
        Possible blood types: A_POSITIVE, A_NEGATIVE, B_POSITIVE, B_NEGATIVE, AB_POSITIVE, AB_NEGATIVE, 0_POSITIVE, 
        0_NEGATIVE
    </div>
    <div class="error" *ngIf="!complete">
        You must fill all fields
    </div>
</form>
<div class="example-button-row">
    <button *ngIf="showEdit" mat-raised-button (click)="editClick()">Edit</button>
    <button *ngIf="showSave" mat-raised-button (click)="okClick(firstName.value, lastName.value, jmbg.value, 
    email.value, password.value, bloodType.value, phoneNumber.value, street.value, number.value, city.value,
    zipcode.value, country.value, workplaceName.value, jobTitle.value)">Save</button>
</div>
