.form-wrapper{
    margin: 200px;
}

.error{
    color: red;
}

.example-button-row {
    display: table-cell;
    width: 490px;
    text-align: right;
    padding-right: 14%;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

mat-form-field{
    width: 300px;
}