<div class="form-wrapper">
    <form class="user-profile-form">
        <mat-form-field appearance="fill" class="main-field">
            <mat-label>Old password</mat-label>
            <input class="input" required matInput #oldPassword>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" class="main-field">
            <mat-label>New password</mat-label>
            <input class="input" required matInput #newPassword>
        </mat-form-field>
        <div class="error" *ngIf="!okPassword">
            {{okPasswordText}}
        </div>
        <div *ngIf="updatedPassword">
            Password changed
        </div>
        <div class="error" *ngIf="empty">
            You must fill all fields
        </div>
    </form>
    <div class="example-button-row">
        <button mat-raised-button (click)="change(oldPassword.value, newPassword.value)">Edit</button>
    </div>
</div>