<div class="mainContent">

    <app-search-blood-banks
    (bloodBanks)="onSearch($event)"
    (totalElements)="saveTotalElements($event)"
    (name)="saveSearchName($event)"
    (city)="saveSearchCity($event)"
    [averageGrade]="averageGrade"
    (pageNumber)="savePageNumber($event)"
  ></app-search-blood-banks>
    <br>
  <app-filter-blood-banks
    (bloodBanks)="onSearch($event)"
    (totalElements)="saveTotalElements($event)"
    (averageGrade)="saveAverageGrade($event)"
    [name]="name"
    [city]="city"
    (pageNumber)="savePageNumber($event)"
    [sortBy]="sortBy"
    [sortDirection]="sortDirection"
  ></app-filter-blood-banks>
  <br>
  <app-sort-blood-banks
    (bloodBanks)="onSearch($event)"
    (totalElements)="saveTotalElements($event)"
    [averageGrade]="averageGrade"
    [name]="name"
    [city]="city"
    (pageNumber)="savePageNumber($event)"
    (sortBy)="saveSortBy($event)"
    (sortDirection)="saveSortDirection($event)"
  ></app-sort-blood-banks>
  <div class="table">
    <mat-table #table [dataSource]="bloodBanks">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="street">
        <mat-header-cell *matHeaderCellDef>Street</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.address.street }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.address.number }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.address.city }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="zipcode">
        <mat-header-cell *matHeaderCellDef>Zipcode</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.address.zipcode }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.address.country }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="averageGrade">
        <mat-header-cell *matHeaderCellDef>Average grade</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.averageGrade }} <button class="add-equip-btn" (click)="displayModal(item)">Add equipment</button></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSize]="2"
      [length]="totalElements"
      (page)="onPageChanged($event)"
      [pageIndex]="pageNumber"
    >
    </mat-paginator>
  </div>
  <div></div>
  <div></div>
</div>
