.table {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 1300px;
}

.add-equip-btn{
  padding: 5px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: green;
  color: #fff;
  margin-left: 40px;
}


