.create-equipment-form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .add-equip-btn{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 7px;
    background-color: green;
    color: #fff;
  }

}


