<div class="form-wrapper">
<form class="user-profile-form" [formGroup]="userProfileForm">
  <h1 class="title">Personal informations</h1>
  <mat-form-field appearance="fill" class="form-field">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName"
      value="{{user.firstName}}"
      required
      [errorStateMatcher]="matcher"
      #name
      >
      <mat-error *ngIf="!userProfileForm.hasError('required')">
        Please enter first name
      </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName"
      value="{{user.lastName}}"
      required
      #surname
      [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="!userProfileForm.hasError('required')">
        Please enter last name
      </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
      <mat-label>JMBG</mat-label>
      <input matInput formControlName="jmbg"
      value="{{user.jmbg}}"
      required
      #jmbg
      >
      <mat-error *ngIf="!userProfileForm.hasError('required')">
        Please enter valid jmbg
      </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
      <mat-label>Blood type</mat-label>
      <mat-select floatLabel="never" value="{{user.bloodType}}" #bloodType formControlName="bloodType">
        <mat-option value="A_POSITIVE">A_POSITIVE</mat-option>
        <mat-option value="A_NEGATIVE">A_NEGATIVE</mat-option>
        <mat-option value="B_POSITIVE">B_POSITIVE</mat-option>
        <mat-option value="B_NEGATIVE">B_NEGATIVE</mat-option>
        <mat-option value="AB_POSITIVE">AB_POSITIVE</mat-option>
        <mat-option value="AB_NEGATIVE">AB_NEGATIVE</mat-option>
        <mat-option value="0_POSITIVE">0_POSITIVE</mat-option>
        <mat-option value="0_NEGATIVE">0_NEGATIVE</mat-option>
        <mat-option value="HH_POSITIVE">HH_POSITIVE</mat-option>
        <mat-option value="HH_NEGATIVE">HH_NEGATIVE</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>email</mat-label>
    <input matInput formControlName="email"
    value="{{user.email}}"
    #email
    >
</mat-form-field>
<div class="buttons">
<input type="button" mat-raised-button (click)="editClick()" value="Edit" class="form-field edit-button">
<input (click)="saveClick($event, name.value, surname.value, jmbg.value, bloodType.value, email.value)" type="submit" value="Save" class="form-field submit-btn">
</div>
</form>
</div>

