<div class="sidebar-wrapper">
  <!--*ngIf="user.userType == 'REGISTERED' || user.userType == 'ADMIN_CENTER' || user.userType != 'ADMIN_SYSTEM'"-->
  <div class="nav-icon">
    <img src="assets/icons/hospital.png" alt="hospital-logo">
  </div>
  <div *ngIf="isLoggedIn" routerLink='create-appointment-user' class="sidebar-option">SCHEDULE APPOINTMENT</div>
   <div *ngIf="isLoggedIn" routerLink='create-appointment' class="sidebar-option">NEW APPOINTMENT</div>
  <div *ngIf="isLoggedIn" routerLink='register/bloodbank' class="sidebar-option">REGISTER BLOODBANK</div>
  <div *ngIf="isLoggedIn" routerLink='register/admin' class="sidebar-option">REGISTER ADMIN</div>
  <div routerLink='register/user' class="sidebar-option">REGISTER USER</div>
  <div *ngIf="isLoggedIn" routerLink='users' class="sidebar-option">USERS</div>
  <div *ngIf="isLoggedIn" routerLink='admin/profile' class="sidebar-option">ADMIN PERSONAL INFORMATIONS</div>
  <div *ngIf="isLoggedIn" routerLink='bloodbank/info' class="sidebar-option">BLOODBANK INFO</div>
  <div *ngIf="isLoggedIn" routerLink='other/admins' class="sidebar-option">OTHER ADMINS</div>
  <div *ngIf="isLoggedIn" routerLink='free/appointments' class="sidebar-option">FREE APPOINTMENTS</div>
  <div *ngIf="isLoggedIn" routerLink='bloodsupplies' class="sidebar-option">BLOOD SUPPLIES</div>
  <div routerLink='bloodBanks' class="sidebar-option">BLOOD BANKS</div>
  <div *ngIf="isLoggedIn" routerLink='donation-survey' class="sidebar-option">FILL DONATION SURVEY</div>
  <div *ngIf="isLoggedIn" routerLink='donation-survey' class="sidebar-option">FILL DONATION SURVEY</div>
  <div *ngIf="isLoggedIn" routerLink='admin-calendar' class="sidebar-option">CALENDAR</div>
</div>
