<div class="user-wrapper">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{user.firstName}} {{user.lastName}}
        </mat-panel-title>
        <mat-panel-description>
          {{user.email}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>JMBG: {{user.jmbg}}</p>
      <p>BLOODTYPE: {{user.bloodType}}</p>
      <p>BLOODBANK: {{user.bloodBank?.name}}</p>
      <button mat-raised-button (click) = "startExamination()">Examination</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
