<div class="form-wrapper">
  <form [formGroup]="registerForm" class="register-admin-form">
    <label for="" class="title">REGISTER NEW ADMIN</label>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput required [errorStateMatcher]="matcher"/>
      <mat-error *ngIf="!registerForm.hasError('required')">
        Please enter first name
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput required>
      <mat-error *ngIf="!registerForm.hasError('required')">
        Please enter last name
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>JMBG</mat-label>
      <input formControlName="jmbg" matInput required>
      <mat-error *ngIf="!registerForm.hasError('required')">
        Please enter jmbg
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="pat@example.com" required>
      <mat-error *ngIf="!registerForm.hasError('email') && registerForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="!registerForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Bloodtype</mat-label>
      <mat-select formControlName="bloodType">
        <mat-option value="0">A_POSITIVE</mat-option>
        <mat-option value="1">A_NEGATIVE</mat-option>
        <mat-option value="2">B_POSITIVE</mat-option>
        <mat-option value="3">B_NEGATIVE</mat-option>
        <mat-option value="4">AB_POSITIVE</mat-option>
        <mat-option value="5">AB_NEGATIVE</mat-option>
        <mat-option value="6">0_POSITIVE</mat-option>
        <mat-option value="7">0_NEGATIVE</mat-option>
        <mat-option value="8">HH_POSITIVE</mat-option>
        <mat-option value="9">HH_NEGATIVE</mat-option>
      </mat-select>
      <mat-error *ngIf="!registerForm.hasError('required')">
        Please choose bloodtype
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Bloodbank</mat-label>
      <mat-select formControlName="bloodBankName">
        <mat-option value="{{bloodbank.name}}" *ngFor="let bloodbank of bloodbanks">{{bloodbank.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="!registerForm.hasError('required')">
        Please choose bloodbank
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput required>
      <mat-error *ngIf="!registerForm.hasError('minlength') && registerForm.hasError('required')">
        Password must be minimum 8 characters
      </mat-error>
      <mat-error *ngIf="!registerForm.hasError('required')">
        Please enter password
      </mat-error>

    </mat-form-field>
    <input (click)="registerAdmin()" type="submit" value="REGISTER" class="form-field submit-btn">
  </form>
</div>

