.calendar-info-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding-top: 3em;

  .calendar-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date{
      font-size: 25px;
      font-weight: bold;
    }
  }
}


