.calendar-info-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5em;
  width: 70%;
  margin-left: 25%;
  margin-top: -50px;

  .calendar-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date{
      font-size: 25px;
      font-weight: bold;
    }
  }

  .calendar{
    overflow-y: scroll;
    max-height: 550px;
  }
}


