<div class="form-wrapper">
  <form [formGroup]="registerForm" class="register-admin-form">
    <label for="" class="title">REGISTER NEW BLOODBANK</label>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Description</mat-label>
      <input matInput required formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Ulica</mat-label>
      <input matInput required formControlName="street">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Broj</mat-label>
      <input matInput required formControlName="number">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Grad</mat-label>
      <input matInput required formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Postanski broj</mat-label>
      <input matInput required formControlName="zipcode">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Drzava</mat-label>
      <input matInput required formControlName="country">
    </mat-form-field>
    <input (click)="registerBloodbank()" type="submit" value="REGISTER" class="form-field submit-btn">
  </form>
</div>
